<section>
  <div class="aElements">
    <ul>
      <li>
        <a>About Us</a>
        <a>Shop Page</a>
        <a>Contact Us</a>
        <a>Career</a>
      </li>
    </ul>
  </div>
  <div class="githubs">
    <div class="kristi">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" />
      <a href="https://github.com/KRISTI0209">KRISTI0209</a>
    </div>
    <div class="luka">
      <a href="https://github.com/Luka288">LUKA288</a>
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" />
    </div>
  </div>
</section>
