section {
  width: 100%;
  height: 100%;
  padding-bottom: 170px;
  padding-top: 30px;
  display: flex;
  justify-content: center;

  .cardWrap {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 30px;
    height: 500px;
    padding-top: 50px;
    box-shadow: -6px 5px 34px -5px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: -6px 5px 34px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -6px 5px 34px -5px rgba(0, 0, 0, 0.52);

    .imgSec {
      width: 500px;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: solid rgb(92, 92, 92) 2px;
      img {
        width: 230px;
        height: 250px;
      }

      .carousel-control-next {
        color: black;
      }
    }

    .middleInfo {
      width: 500px;

      a {
        cursor: pointer;
        font-size: 16px;
      }
    }

    .sidePriceETC {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      box-shadow: 21px 8px 27px -10px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 21px 8px 27px -10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 21px 8px 27px -10px rgba(0, 0, 0, 0.2);
      border-radius: 15px;

      h1 {
        .priceColor {
          color: white;
          background-color: green;
          border-radius: 3px;
          user-select: none;
        }
        font-size: 30px;
      }
      list-style-type: none;

      .buttonSection {
        display: flex;
        justify-content: center;

        a {
          display: flex;
          justify-content: center;
          width: 130px;
          text-decoration: none;
          color: white;
          background-color: orange;
          border: 1px solid orange;
          font-size: 20px;
          transition: ease-out 0.3s;
        }

        a:hover {
          color: white;
          border: 3px solid red;
          background-color: red;
          transition: ease-in 0.3s;
        }
      }

      .paymentMethods {
        img {
          width: 250px;
          max-width: 75%;
        }
      }

      .stock {
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 1440px) {
  section {
    .cardWrap {
      grid-template-columns: repeat(2, 0fr);
      height: 100%;

      .sidePriceETC {
        box-shadow: 1px 1px 34px -5px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 1px 1px 34px -5px rgba(0, 0, 0, 0);
        -moz-box-shadow: 1px 1px 34px -5px rgba(0, 0, 0, 0);
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    .cardWrap {
      justify-content: center;
      grid-template-columns: repeat(1, 0fr);
      width: 75%;
      height: 100%;
    }
  }
}

@media (max-width: 425px) {
  section {
    .cardWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(1, 0fr);
      width: 75%;
      height: 100%;

      .imgSec {
        margin: auto;
        max-width: 75%;
      }

      .middleInfo {
        text-align: center;
        max-width: 200px;
      }

      .sidePriceETC {
        max-width: 75%;
      }
    }
  }
}
